.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: linear-gradient(to bottom right, rgb(212, 230, 105), rgb(130, 174, 68));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  padding: 16px 30px;
  margin: 15px 0;
  background: #fff;
  font-size: calc(10px + 1.5vmin);
  border: none;
  border-radius: 5px;
  color: #000 !important;
  text-decoration: none;
}

.App-button:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.App-color-button {
  /* background: #4caf20; */
  padding: 14px 30px;
  background-image: linear-gradient(to bottom right, rgb(212, 230, 105), rgb(130, 174, 68));
}

.App-color-button:hover {
  background-image: linear-gradient(to bottom right, rgb(212, 230, 105), rgb(130, 174, 68));
  opacity: 0.9;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.App-job-container {
  background: #fff;
  color: #000;
  padding: 0px 25px;
  margin: 10px;
  border-radius: 5px;
  transition: 0.2s;
}

.App-job-container:hover {
  padding: 20px 40px;
}

.App-job-image {
  float: left;
  width: 30%;
  margin: 0 !important;
  padding: 0 !important;
}

.App-job-image img {
  height: 100%;
  vertical-align: middle;
}

.App-job-content {
  float: right;
  margin: 40px 20px 40px 40px;
}

.App-job-apply {
  padding: 10px 20px;
  margin: 10px 10px 30px 10px;
  background: #000;
  border: solid 1px #000;
  border-radius: 5px;
  color: #fff;
  font-size: calc(1px + 2vmin);
  transition: 0.2s;
}

.App-job-apply:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.App-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.App-list li {
  padding: 10px;
}

.App-checkbox {
  margin: 10px;
  height: calc(1px + 2vmin);
}

.App-page {
  float: left;
  width: 30%;
  font-size: calc(10px + 1.5vmin);
  padding: 20px 40px;
}

.App-side {
  padding: 20px 50px;
  overflow-x: scroll;
  font-size: calc(10px + 1.2vmin);
}

.App-interview-container {
  margin: 0;
  font-size: calc(10px + 1.5vmin);
  height: 100vh;
  overflow: hidden;
}

.App-interview {
  width: 46%;
  height: 100%;
  padding: 2%;
}

#videoElement {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.App-left {
  background-image: linear-gradient(to bottom right, rgb(212, 230, 105), rgb(130, 174, 68));
  float: left;
}

.App-right {
  float: left;
}

.App-timer {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
