/* Interview Settings.css */

#photo {
    width: 500px;
    height:200px;
    background-color: #E6E6E6;
}

.questions span{
    background-color:#CFE84F;
}

.description {
    border-style:solid;
    border-width:1.5px;
    width:500px;
    height:70px;
    border-color:black;
}

.requirements {
    border-style:solid;
    border-width:1.5px;
    width:500px;
    height:70px;
    border-color:black; 
}

body, html, #container {
    height: 100%;
}
    
#left_div {
    float:left;
    padding-left:2%;
    width:58%;
    height:100%;
    background-colour:rgb(255,255,255);
}

#right_div {
    float:right;
    width:40%;
    height:100%;
    background-color:#CFE84F;
}

#q1 {
    margin-left:130px;
    width:500px;
    height:130px;
    background-color:white;
}

#q2 {
    margin-left:130px;
    width:500px;
    height:130px;
    background-color: white;
}