/* Interview Settings.css */
#page_title {
    font-size:80px;
}

#photo {
    width: 500px;
    height:200px;
    background-color: #E6E6E6;
}

.questions span{
    background-color:#CFE84F;
}

.description {
    color: #808080;
    font-style:italic;
    border-style:solid;
    border-width:1.5px;
    width:500px;
    height:70px;
    border-color:black;
}

.requirements {
    color: #808080;
    font-style:italic;
    border-style:solid;
    border-width:1.5px;
    width:500px;
    height:70px;
    border-color:black; 
}

#container {
    height:100%;
    padding:30px;
}
    
#left_div {
    float:left;
    padding:20px;
    width:40%;
    height:100%;
    background-colour:rgb(255,255,255);
}

#right_div {
    float:right;
    padding:20px;
    padding-top:100px;
    width:40%;
    height:80%;
    background-color:#CFE84F;
    width:1000px;
    padding-bottom:300px;
}

.question1 {
    margin-left:250px;
    padding-left:15px;
    padding-top:12px;
    width:500px;
    height:130px;
    background-color:white;
}

#q1 {
    margin-left:250px;
    padding-left:15px;
    padding-top:12px;
    width:500px;
    height:130px;
    background-color: white;
}

#q2 {
    margin-left:250px;
    padding-left:15px;
    padding-top:12px;
    width:500px;
    height:130px;
    background-color: white;
}